/* 섞이면서 이상해진거 */
main{
  width: 100vw;
}
h1 {
  display: block;
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
/*  */

/* 메인이미지 */
.main_img-div{
  display: block;
  position: relative;
  margin-top: 120px;
  z-index: 1;
}

.main_img {
  width: 100%;
  filter: brightness(60%);
  height: calc(100vh - 70px);
  margin-top: -40px;
}

.myText {
  position: absolute;
  top: 20%;
  left: 0;
  color: aliceblue;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
.myText h1{
  font-size: 4rem;
  color: white;
}
.myText.show {
  opacity: 1;
}

/* 아이콘 애니메이션 */

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); 
  }
  100% {
    transform: translateY(0);
  }
}

.downside_icon{
  position: absolute;
  bottom: 15%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 3%;
  animation: moveUpDown 2s infinite;
  cursor: pointer;
}

.div-text {
  font-size: 2.5vw;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: Pretendard-Regular;
}

.text-container{
  padding-top: 200px;
  padding-bottom: 500px;
}

/* 현장방문 */
.section{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Homecontainer{
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.Homeinner-container{
  height: 100%;
  margin: 0 auto;
}


.areadiv{
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
  box-shadow: 2px 2px 2px 2px gray;
  opacity: 0;
  visibility: hidden;
}
.animateareadiv{
  opacity: 1;
  visibility: visible;
}


.area{
  height: 780px;
  width: 100%;
  margin-top: -250px;
}

/* 설명 */
.main_form h2{
  font-size: 40px;
  color: #65a67f;
  margin-left: 30px;
}

.main_form h1{
  color: #676767;
  margin-left: 30px;
}

.main_form{
  position: relative;
  padding: 250px 0 165px 0;
  height: 750px;
  /* border: solid 1px; */
  margin: auto;
  max-width: 1140px;
  min-width: 1140px;
}
.movebutton{
  position: absolute;
  top: 50%;
  left: 10%;
}
.form_img{
  position: absolute;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px 10px 10px 5px;
  width: 45%;
  height:45%;
  right: 10%;
}

.form_img2 {
  position: absolute;
  border: solid 2px;
  border-radius: 20px;
  padding: 50px 10px 10px 5px;
  width: 45%;
  height:45%;
  right: 10%;
}

/* 카드섹션 */

.tpg {
  display: block;
  height: calc(80vh + 1200px);
  /* outline: 2px dashed blue; */
  background-color: #A3C6C2;
  background: linear-gradient(180deg, rgb(182, 207, 204) 46%, rgba(33, 157, 81, 0.365) 100%);
  margin-top: 10px;
  width: 100%;
  /* overflow: hidden; */
}
.slidePg{
  position: sticky;
  top: 0;
  left: 0;
  height: 80vh;
}
.slidePg ul{
  position: relative;
  left: 0;
  display: flex;
  width: calc(100vw + 3600px);
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.3s ease-out;
  overflow: hidden;
}
.slidePg ul li{
  list-style: none;
  /* padding: 10px; */
  margin-right: 80px;
  margin-left: 80px;
}
.profilemargin{
  margin-top: 80px;
}

/* .animateRocket {
  animation-duration: 5s;
  animation-name: animate-rocket;
}

@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(10deg);
  }
  5% {
    transform: scale(1.25) rotate(-15deg);
  }
  10% {
    transform: scale(1.5) rotate(5deg);
  }
  15% {
    transform: scale(1.75) rotate(-10deg);
  }
  20% {
    transform: scale(2) rotate(0);
  }
  100% {
    transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
  }
} */


.img_form{
  position: relative;
  height: 1272px;
  margin: auto;
  /* max-width: 1140px; */
  min-width: 1140px;
  overflow: hidden;
}
.koda{
  object-fit:cover;
  width: 100%;
  height: 100%;
}



/*  */
.Img_wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Img_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 160px 0;
}

.Img_container_inner{
  width: 92%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.Img_wallpaper{
  position:relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background-image: url('../../../public/koda.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.Img_wallpaper h1{
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3;
  color: #f9fafb;
  text-align: center;
}

.Img_wallpaper_wall{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  
}

.Img_wall{
  height: 100%;
  width: 200px;
  background-color: whitesmoke;
}
/* */
.a_button{
  display: block;
  width: 140px;
  padding: 10px;
  /* border: black solid; */
  border-radius: 10px;
  margin-left: 35%;
  cursor: pointer;
  background-color: #9ab7b3;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 0px -10px rgba(86, 86, 86, 0.5);
  transition: all 300ms cubic-bezier(0, 1.7, 0.9, 1.1);
}
.a_button:hover{
  box-shadow: 0px 37px 20px -20px rgba(86, 86, 86, 0.5);
  transform: translate(0px, -10px) scale(1.0);
}
/* 
 */
.content1{
  width: 100%;
  margin-bottom: 160px;
}

.content1 h1{
  margin-bottom: 140px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.con_img{
  display: block;
  opacity: 0;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.content1 h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 30px;
}
.content1 span{
  color: #b0b8c1;
}

.content1 p{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
}
.content1_textwrap{
  opacity: 0;
}
.content1_textwrap h2{
  color: #333d4b;
}
.content1_textwrap span{
  color: #b0b8c1;  
}
.content2{
  text-align: center;
  margin-bottom: 200px;
}
.content2_item > img{
  max-width: 380px;
  width: 100%;
  margin-bottom: 40px;
}

.content2_item p{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
  width: 100%;
}
.textwrap{

  margin-top: 30px;
  margin-bottom: 280px;
}
.textwrap h2{
  opacity: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 5px;
}
.textwrap span{
  color: #b0b8c1
}


.content3 img{
  opacity: 0;
  width: 100%;
  margin-bottom: 60px;
}

.textwrap2{
  opacity: 0;
  display: flex;
}

.textwrap2 h2, .textwrap2 p{
  width: 50%;
}

.textwrap2 h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 5px;
}

.textwrap2 span{
  color: #b0b8c1;
}
.textwrap2 p{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.imgbox{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70%; 
  overflow: hidden;
}
.fam{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}