.detail_title{
    margin: 1vh 0;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
  }
  
  .top_hr{
    border-bottom: 3px solid black;
    width: 8vw;
    text-align: center;
  }
  
  .path{
    width: 15vw;
    text-align: left;
    margin-top: 2vh;
    margin-left: 22vw;
    flex-direction: column;
  }
  
  .chapter {
    background-color: white;
    border-radius: 15px;
    display: flex;
    width: 55vw;
    height: 70vh;
    margin: 3vh auto;
    max-width: 1400px;
    justify-content: center;
    text-align: center;
  }
  
  .spot-area {
    position:relative;
    background-color: black;
    background-size: cover; 
    width: 10vw;
    height: 60vh;
    border-radius: 10px;
    justify-content: center;
    margin: auto 0 auto 2vw;
    text-align: center;
    display: flex;
  }
  
  .spot-text {
    position: absolute;
    top: 10%;
    transform: translate(0, -50%);
    color: white;
    font-size: 6vh;
    font-weight: 700;
    margin-top: 4vh;
    word-wrap: break-word;
    z-index: 3;
  }
  
  .chapter-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 2vw;
    width: 40vw;
    max-height: 58vh;
    overflow-y: auto;
  }
  
  .alink {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 10px;
    padding: 60px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px rgb(148, 145, 145);
  
  }
  
  .btn-image{
    width: 10vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 10px;
    z-index: 2;
  }
  
  /*여기부터 12-27*/
  
  
  .chapter-btn {
    width: 50vw;
    height: 15vh;
    font-size: 2.2vw;
    font-weight: bold;
    margin: 1vh 1vw;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #c2bbbb;
    box-shadow: 1px 1px #c2bbbb;
  }
  
  .btnText {
    margin-right: auto; 
    flex: 4;
    margin-right: 4vw;
  }
  
  
  .chapter-btn:hover {
    background-color: #fbf9f6;
    border: 1px solid #eaeaea;
    cursor: pointer;
  }
  
  
  
  .dnchart {
    flex: 1;
    text-align: center;
    margin: 1vh 1vw;
  }

  /* loading */


#link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
#link:hover {color: #CCCCCC}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
    @keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-moz-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-webkit-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-o-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-moz-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-webkit-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @-o-keyframes rotate-loading {
        0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
    }

    @keyframes loading-text-opacity {
        0%  {opacity: 0}
        20% {opacity: 0}
        50% {opacity: 1}
        100%{opacity: 0}
    }

    @-moz-keyframes loading-text-opacity {
        0%  {opacity: 0}
        20% {opacity: 0}
        50% {opacity: 1}
        100%{opacity: 0}
    }

    @-webkit-keyframes loading-text-opacity {
        0%  {opacity: 0}
        20% {opacity: 0}
        50% {opacity: 1}
        100%{opacity: 0}
    }

    @-o-keyframes loading-text-opacity {
        0%  {opacity: 0}
        20% {opacity: 0}
        50% {opacity: 1}
        100%{opacity: 0}
    }
    .loading-container,
    .loading {
        height: 100px;
        position: relative;
        width: 100px;
        border-radius: 100%;
    }


    .loading-container {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
     }

    .loading {
        border: 2px solid transparent;
        border-color: transparent #434343 transparent #434343;
        -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
        -moz-transform-origin: 50% 50%;
        -o-animation: rotate-loading 1.5s linear 0s infinite normal;
        -o-transform-origin: 50% 50%;
        -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
        -webkit-transform-origin: 50% 50%;
        animation: rotate-loading 1.5s linear 0s infinite normal;
        transform-origin: 50% 50%;
    }

    .loading-container:hover .loading {
        border-color: transparent #E45635 transparent #E45635;
    }
    .loading-container:hover .loading,
    .loading-container .loading {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    #loading-text {
        -moz-animation: loading-text-opacity 1s linear 0s infinite normal;
        -o-animation: loading-text-opacity 1s linear 0s infinite normal;
        -webkit-animation: loading-text-opacity 1s linear 0s infinite normal;
        animation: loading-text-opacity 1s linear 0s infinite normal;
        color: #434343;
        font-family: "Helvetica Neue, "Helvetica", ""arial";
        font-size: 10px;
        font-weight: bold;
        margin-top: 45px;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100px;
    }


    .solved{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.solve_txt{
    margin: 8vh auto;
    font-size: 5vh;
    font-weight: 600;
}

.solved button{
    background-color: #2C858D;
    color: white;
    width: 20vw;
    margin: 5vh auto;
    height: 7vh;
    border-radius: 20px;
}