.temp {
  text-align: center;
  color: red;
}

.detail_title{
  margin: 1vh 0;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
}

.top_hr{
  border-bottom: 3px solid black;
  width: 8vw;
  text-align: center;
}

.path{
  width: 15vw;
  text-align: left;
  margin-top: 2vh;
  margin-left: 22vw;
  flex-direction: column;
}

.chapter {
  background-color: white;
  border-radius: 15px;
  display: flex;
  width: 55vw;
  height: 70vh;
  margin: 3vh auto;
  max-width: 1400px;
  justify-content: center;
  text-align: center;
}

.spot-area {
  position:relative;
  background-color: black;
  background-size: cover; 
  width: 10vw;
  height: 60vh;
  border-radius: 10px;
  justify-content: center;
  margin: auto 0 auto 2vw;
  text-align: center;
  display: flex;
}

.spot-text {
  position: absolute;
  top: 10%;
  transform: translate(0, -50%);
  color: white;
  font-size: 6vh;
  font-weight: 700;
  margin-top: 4vh;
  word-wrap: break-word;
  z-index: 3;
}

.chapter-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 2vw;
  width: 40vw;
  max-height: 58vh;
  overflow-y: auto;
}

.alink {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 10px;
  padding: 60px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px rgb(148, 145, 145);

}

.chapter-btn {
  width: 50vw;
  height: 10vh;
  font-size: 2vw;
  font-weight: bold;
  margin: 2vh 1vw;
  background-color: #EAEAEA;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.chapter-btn:hover {
  box-shadow: 0px 0px 1.2px 1.2px rgb(116, 115, 115);
}

.btn-image{
  width: 10vw;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
  border-radius: 10px;
  z-index: 2;
}

/*여기부터 list test*/


.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
}

/* 여기부터 12-29 게시판 */



/* 1:1문의 */
.boardName {
  margin-top: 1vh;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;

}

/* 등록버튼 */

.btnRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1400px;
}


.boardBtn {
  width: 80px;
  height: 35px;
  font-size: 17px;
  margin: 1vh 1vw;
  color: white;
  background-color:  #2C858D;
  border-radius: 10px;
  border: 0px;
  }

  .boardBtn:hover {
    background-color: #2e676c;
    cursor: pointer;
  }


/* 게시판 전체 하얀부분 */

.board {
  background-color: white;
  border-radius: 15px;
  width: 70vw;
  height: auto;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: center;
  text-align: center;
  padding: 2vh 2vw;
  min-height: 550px;
  margin-bottom: 10px;
}

/* 게시판 내부 */

/* 왼쪽 상단 총개수 */

.titleCount {
  padding: 1vh 1vw;
  display: flex;
  align-items: left;
  padding-left: 1vw;
  font-size: 1vw;
  border-bottom: 3px solid #0a0a0a;
}





/* 게시판 리스트  */

.bulletinBoard {
  margin-top: 1px;
  width: 100%;
  height: 95%;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #38808769;
}

/* 게시판 리스트 요소 */

.boardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-bottom: #726d6d 1px solid;
}

/* 맨앞 글 번호 */
.boardNum {
  margin: 2vw;
  font-size: 1vw;

}


/* title,content감싸는 */
.boardMain {
  padding-right: 10px;
  text-align: left;
  flex: 1px;
}

.boardMain:hover {
  cursor: pointer;
}

.boardTitle {
  margin: auto;
  margin-left: auto;

}

.boardContent {
 margin-top: 1vh;
}

/* 답변완료,대기 버튼 */

.waitBtn {
  margin-left: 2vw;
  margin-right: 0.5vw;
  color: #505050;
  /* border: 2px solid #868787; */
  border-radius: 12px;
  padding: 1vh 1vw;
  font-size: 1vw;
  font-weight: 600;
}


/* 여기부터 */

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContent {
    background-color: #fff;
    padding: 2vw;
    width: 35vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 13vh;
    bottom: 0;
    margin: auto;
    margin-bottom: 1vw;
    overflow: auto;
  }

  .staff-modalContent {
    background-color: #fff;
    padding: 2vw;
    width: 70vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 13vh;
    bottom: 0;
    margin: auto;
    margin-bottom: 1vw;
    overflow: auto;
  }

  .modalTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
    border-bottom: #cecece 1px solid;
    padding-bottom: 0.5vh;


  }

  .modalTitle {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vh;

  }

  .modalClose {
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1vh;
  }


  /* 게시판 클릭시 */

  .modalMain {
    text-align: left;
  }
  .modalusername{
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 2vw;
  }

  .modalMainTitle {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 1vh;
  }

  .titleInputContent {
    margin-bottom: 20px;
  }

  .queryContent {
    margin-bottom: 20px;
  }

  .queryDate {
    margin-bottom: 20px;
  }

  .queryImageContent {
    margin-bottom: 30px;
    width: 30%;
    height: 30%;
  }

  input[type="text"],
  textarea {
    width: 95%;
    padding: 0.5vw;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8vw;
    resize: none;
    height: 5vh;
  }

  .inputContent {
    height: 25vh;
    width: 95%;
  }

  .modalMainContent {
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
/* 문의 모달아래 버튼 */
  .attachBtn {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    width: 90%;
  }


  .attachBtn input[type="file"] {
    display: none;

  }

  .attachBtn label {
    padding: 0.7vw;
    background-color: #808080;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.7vw;

  }


  .fileName {
    height: 5vh;
    padding: 0 1vw;
    vertical-align: middle;
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 83%;
    color: #999999;
    overflow: hidden;
    margin-left: 10px;
    background-color: #eaeaea;

  }

  .modalBtn {
    text-align: center;
    bottom: 1vh;
    width: 90%;
  }

  .modalSubmit {
      background-color: #2C858D;
      color: #fff;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 5vw;
      height: 6vh;
      font-size: 1vw;
      margin: 1vw 1vh;
  }



/* 여기부터 답변 모달 */




/* 마지막 닫기버튼 */

.modalCloseBtn{
  padding: 10px 25px;
  background-color: #2C858D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* 작성일자, 작성자 */

.modalTime {
  font-size: 1.3vh;
  margin: 0% 0% 0% 2%;
}

.modalClientDate {
  margin: 1vh 0;
}

.modalClientName {
  margin: 1vh 0;
}

.modaladminDate {
  margin: 1vh 0;
}

.modaladminName {
  margin: 1vh 0;
}

.upFile {
  margin: 1vh 0;
  border: #eaeaea 1px solid;
  width: 92%;
  height: 3vh;
  background-color: #eaeaea;
}



/* 사용자에게 보이는 답변 모달 */

.modalUpdateBtn {
  padding: 10px 25px;
  background-color: #717272;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 1vw;
  cursor: pointer;

}

.modalDeleteBtn {
  padding: 10px 25px;
  background-color: #dd1d1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 1vw;
  cursor: pointer;
}

.modalCloseBtn{

  margin: 0 1vw;

}

/* 게시판 조회, 수정 css */
.modal-btn{
  background-color: #6e6e6d;
  color: white;
  width: 8vw;
  height: 4vw;
  margin: 10px;
  border-radius: 20px;
  font-size: 1rem;
}

.modal-btn:hover {
  box-shadow: 0px 0px 3px rgb(121, 118, 118);
}

.btn-box{
  display: flex;
  justify-content: center;
}

/* 관리자 */
.staff-management{
  display: flex;
  text-align: left;
}
.staff-modalMain{
  flex: 1;
}
.staffMain{
  flex: 1;
}
.staff-answerBox{
  min-height: 300px;
  font-size: 1.5vw;
}

/* 수정폼 */
.editTextbox{
  height: 90px;
}
.modalusername{
  font-size: 0.8rem;
  display: flex;
}
.userinfo-modal{
  flex: 1;
}

.imgfile-up{
  display: flex;
}
.imgfileupload{
  flex: 1;
}