* {
    box-sizing: inherit;
}

.h2-info{
    margin: 5vh auto 3vh 5vw;
    font-size: 1rem;
    line-height: 1.48;
    font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", sans-serif;
    font-weight: 700;
    color: black;
}

.info-back{
    background-color: white;
    border-radius: 30px;
    width: 50vw;
    display: flex;
    margin: 5vh auto;
    border: 1px solid #F4F4F4;
    flex-direction: column;
    height: 65vh;
}

.info-back table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 40vw;
    height: 40vh;
}

/*td{*/
/*    width: 30vw;*/
/*    display: flex;*/
/*    margin: auto 2vw;*/
/*    align-items: center;*/
/*}*/

.table-title{
    padding: 1rem;
    width: 18%;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    color: rgb(110, 121, 135);
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #FBF9F6;
    word-break: keep-all;
    text-align: center;
}

tr{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.td-option{
    padding: 1rem 2rem;
}

.td-value{
    display: flex;
    font-size: 1vw;
    flex-direction: row;
    gap: 0.25rem;
    -webkit-box-align: center;
    align-items: center;
}

.flex-box{
    display: flex;
    flex-direction: row;
}

.btn-edit{
    margin: auto 2vw;
    background-color: #FBF9F6;
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: #4B4B4B;
    border-radius:40px;
    font-size: 0.8vw;
    width: 8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
}

.svgIcon{
    user-select: none;
    width: 1.2vw;
    height: auto;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
}

.modal-content {
  background-color: #f7f5f5;
  max-width: 420px;
  border-radius: 8px;
  width: 420px;
  height: 280px;
  padding: 40px;
  text-align: center;
}

.modal-content h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #4B4B4B;
    margin-bottom: 20px;
}

.modal-content label {
    width: 130px;
    font-size: 15px;
    font-weight: 400;
    color: #4B4B4B;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    float: left;
    text-align: right;
}

.label-pass{
    display: flex;
}

.modal-content input {
    float: right;
    margin-top: 10px;
    border-radius: 10px;
    width: 240px;
    height: 25px;
    font-size: 13px;
}

.pwErrorMsg {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.accDelBtn {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 12px;
    border: #8a8a8a solid 1.5px;
    background-color: #f8f8f8;
    width: 68px;
    height: 26px;
    color: rgb(104, 102, 102);
    font-size: 14px;
}

.accPtag {
    margin-top: 80px;
    text-align: center;
    color: rgb(241, 33, 33);
    font-weight: 500;
}
.accDelBtn:hover {
    font-weight: 600;
}

.pwUpdateBtn {
    margin-top: 30px;
    margin-left: 140px;
    border-radius: 12px;
    border: #8a8a8a solid 1.5px;
    background-color: #f8f8f8;
    width: 68px;
    height: 26px;
    color: rgb(104, 102, 102);
    font-size: 14px;
}
.pwUpdateBtn:hover {
    font-weight: 600;
}

.pwCancelBtn {
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 12px;
    border: #8a8a8a solid 1.5px;
    background-color: #f8f8f8;
    width: 68px;
    height: 26px;
    color: rgb(104, 102, 102);
    font-size: 14px;
}

.pwCancelBtn:hover {
    font-weight: 600;
}

.btn-edit:hover {
    box-shadow: 0px 0px 0px 1.2px #888888 inset;
}

.withdrawal-button {
    border: #cbc8c8 solid 1.5px;
    border-radius: 12px;
    background-color: #F9F7F4;
    width: 70px;
    height: 25px;
    font-size: 13px;
    color: rgb(104, 102, 102);
    /*margin: 10px 620px;*/
    margin-top: 10px;
}

.withdrawal-button:hover {
    box-shadow: 0px 0px 0px 1px #888888 inset;
}

.modal-content{
    width: 50vw;
}
.exit_user_button_tr{
    border-bottom: none;
}
.exit_user_button_td{
    display: flex;
    justify-content: flex-end;
}