.detail_title{
    margin: 1vh 0;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
}

.path_1{
    width: 15vw;
    text-align: left;
    margin-top: 2vh;
    margin-left: 14vw;
    flex-direction: column;
    display: block;
}

.top_hr{
    border-bottom: 3px solid black;
    width: 8vw;
    margin: 0 auto;
    
}

.page_margin{
    height: 15vh;
}


.trainContainer{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 2vh auto;
    gap: 10px;
    padding: 0 15vw;
    
}

.avatarBox{
    background-color: #9ca3af;
}


.box{
    height: 55vh;
    width: 33vw;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
}

.section-leture{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    height: 60vh;
    margin: 2vh auto;
}

.next_word {
    float: right;
    margin: 1vh 0 3vh 15vw;
}

.next_image{
    margin: 5px auto 0 5px;
}

.nextBtn{
    display: flex;
    float: right;
    margin-right: 15vw;
}

.next_txt{
    font-size: 5vh;
    font-weight: 600;
}

.cam_text{
    display: flex;
    margin: auto;
    color: white;
    font-size: 2vw;
    font-weight: 500;
}

.whole_avatar{
    position: absolute;
    display: flex;
    margin: 2vh 2vw;
    color: white;
    z-index: 1;
    flex-direction: column;
}

.avatar{
    font-weight: 600;
    margin-right: 1vw;
    display: flex;
    justify-content: left;
}

.webcamBox{
    background-color: #9ca3af;
}

.pre-text{
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 1;
}

.customer{
    font-weight: 600;
    display: flex;
    justify-content: right;
}

.user_txt {
    z-index: 1;
    position: absolute;
    display: flex;
    margin: 2vh 16vw 0 0;
    flex-direction: column;
    color: black;
    right: 0;
}