Input {
    border: none;
    height: 8vh;
}

.auth-container{
    width: 100%;
    margin-top: 15vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-container{
    display: flex;
    justify-content: center;
}
.auth-div{
    padding: 4rem;
    width: 100%;
}
@media (min-width:1024px) {
    .auth-div{
        width: 40%;
        max-width: 40%;
    }
}
 
.auth-h2{
    color: #2C858D;
    font-size: 5vh;
    margin-bottom: 2rem;
    font-weight: 750;
    text-align: center;
}
.auth-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
 
/* 인풋 라벨 스타일링 */
.input-div{
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 1.5rem - 6px);
    margin: auto auto 1vh auto;
}

.wb-input-div{
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 1.5rem - 6px);
}

.input-style {
    display: block;
    border-radius: 3px;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    width: 87%;
    border: 1px solid #D9D9D9;
    height: 8vh;
    margin: auto;
  }

.wb-input-style{
    display: flex;
    border-radius: 3px;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    width: 100%;
    border: 1px solid #D9D9D9;
    left: -2.5px;
    position: relative;
    height: 8vh;
}
 
  .label-style {
    position: absolute;
    font-size: 1rem;
    color: #71717a;
    top: 1rem;
    z-index: 10;
    transform-origin: left;
    left: 3.2rem;
  }

  .wb-label-style{
      position: absolute;
      font-size: 1rem;
      color: #71717a;
      top: 1rem;
      z-index: 10;
      transform-origin: left;
      left: 1.3rem;
  }

  .wb-btn-text{
      margin: auto;
      text-align: center;
      font-size: 1.8vh;
      color: white;
  }
 
 
  .input-style:not(:placeholder-shown) + .label-style,
  .input-style:focus + .label-style {
    transition: 0.2s;
    transform: scale(0.75) translateY(-0.75rem);
  }

  .wb-input-style:not(:placeholder-shown) + .wb-label-style,
  .wb-input-style:focus + .wb-label-style {
    transition: 0.2s;
    transform: scale(0.75) translateY(-0.75rem);
  }
 
/* 버튼 */
.auth-button{
    background-color: #2C858D;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    border-radius: 0.375rem;
    width: 80%;
    margin: 20px auto auto auto;
    box-shadow: 1.2px 1.2px 1.2px gray;
    display: flex;
    justify-content: center;
}
.auth-button:hover{
    transition: background-color 0.2s;
    background-color: #4B4B4B;
    box-shadow: 1.2px 1.2px 1.2px gray;
}
 
.detail-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vh;
    margin: auto;
    text-align: center;
    width: 30vw;
}

.middle-bar{
    margin: auto 1.5vw;
}

.auth-span:hover{
    text-decoration: underline;
}
 
.ch-p {
    margin-top: -16px;
}
 
.send_email{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2C858D;
    color: whitesmoke;
}
.check_email{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2C858D;
    color: whitesmoke;
}
.auth-forget{
    font-size: 1vw;
    margin-left: 20px;
    width: 8vw;
    
}
.forgot{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.forgot-link{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5vh;
    color: #4B4B4B;
    font-size: 1vw;
    margin-left: 10px;
}

.forgot-link:hover {
    color: #2C858D;
}

.error-message{
    font-size: 0.9vw;
    color: red;
    margin: -2vh auto 0 3.5vw;
    width: 25vw;
    word-wrap: break-word;
    word-break: keep-all;
}

#info_id {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto auto 1vh auto;
    justify-content: center;
    width: calc((100% - 1.5rem - 6px)*0.85);
}

.check_username {
    display: flex;
    width: calc(30% - 5px);
    padding: 0.3rem;
    border-radius: 3px;
    background-color: #2C858D;
    border: 1px solid #2F787F;
}

.check_username:hover {
    background-color: #2c7076;
}


.whitebtn {
    background-color: white;
    color: #2C858D;
    font-weight: 500;
    display: flex;
    width: calc(20% - 5px);
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #2F787F;
    transition: box-shadow 0.3s;
}

/*.whitebtn:hover {*/
/*    box-shadow: inset 0 0 8px rgba(60, 92, 95, 0.5);*/
/*}*/

.whitebtn:hover .greentext{
    text-decoration: underline #2C858D;
    text-underline-offset: 3px;
}


.greentext {
    margin: auto;
    text-align: center;
    font-size: 1.8vh;
    color: #2C858D;
}

.graybtn {
    background-color: #AFB3B4;
    display: flex;
    width: calc(20% - 5px);
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #838383;
}

.graytext {
    margin: auto;
    text-align: center;
    color: #838383;
    font-weight: 500;
    font-size: 2vh;
}

.IdAppear{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.IdAppearbox{
    border: solid black;
    background-color: whitesmoke;
    height: 200px;
    border-radius: 20px;
}